<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.first_name %> <%= @user.last_name %> welcome to KittyCat!</h1>
    <p> You signed in with this email : <%= @user.email %>.</p>
    <p> Now come on our website and get the custest kitten pictures : <%= @url %> </p>
    <p> See you soon! </p>
  </body>
</html>

