<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Album example</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Shop Now</a>
        <a href="#" class="btn btn-secondary my-2">Contact Us</a>
      </p>
    </div>
  </section>

<!-- Features -->
<div class="g-brd-bottom g-brd-gray-light-v4">
  <div class="container g-py-30">
    <div class="row justify-content-center">
      <div class="col-md-4 mx-auto g-py-15">
        <div class="media g-px-50--lg">
          <i class="d-flex g-color-black g-font-size-30 g-pos-rel g-top-3 mr-4 icon-real-estate-048 u-line-icon-pro"></i>
          <div class="media-body">
            <span class="d-block g-font-weight-500 g-font-size-default text-uppercase">Free Shipping</span>
            <span class="d-block g-color-gray-dark-v4">In 2-3 Days</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 mx-auto g-brd-x--md g-brd-gray-light-v3 g-py-15">
        <div class="media g-px-50--lg">
          <i class="d-flex g-color-black g-font-size-30 g-pos-rel g-top-3 mr-4 icon-real-estate-040 u-line-icon-pro"></i>
          <div class="media-body">
            <span class="d-block g-font-weight-500 g-font-size-default text-uppercase">Free Returns</span>
            <span class="d-block g-color-gray-dark-v4">No Questions Asked</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 mx-auto g-py-15">
        <div class="media g-px-50--lg">
          <i class="d-flex g-color-black g-font-size-30 g-pos-rel g-top-3 mr-4 icon-hotel-restaurant-062 u-line-icon-pro"></i>
          <div class="media-body text-left">
            <span class="d-block g-font-weight-500 g-font-size-default text-uppercase">Free 24</span>
            <span class="d-block g-color-gray-dark-v4">Days Storage</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Features -->

<!-- New Arrivals -->
<section class="container g-py-100">
  <div class="text-center mx-auto g-max-width-600 g-mb-50">
    <h2 class="g-color-black mb-4">New Arrivals</h2>
    <p class="lead">We want to create a range of beautiful, practical and modern outerwear that doesn't cost the earth – but let's you still live life in style.</p>
  </div>

  <div class="row g-mx-minus-10 g-mb-50">
  <% @items.each do |item|%>
    <div class="col-md-6 col-lg-4 g-px-10">
      <!-- Article -->
      <article class="media g-brd-around g-brd-gray-light-v4 g-bg-white rounded g-pa-10 g-mb-20">
        <!-- Article Image -->
        <div class="g-max-width-100 g-mr-15">
          <img class="d-flex w-100" src="https://images.unsplash.com/photo-1520315342629-6ea920342047?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjg2ODQyfQ&auto=format&fit=crop&w=1400&q=800" alt="Image Description">
        </div>
        <!-- End Article Image -->

        <!-- Article Info -->
        <div class="media-body align-self-center">
          <h4 class="h5 g-mb-7">
            <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#"><%= item.title %></a>
          </h4>
          <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13 g-mb-10" href="#">Accessories</a>
          <!-- End Article Info -->

          <!-- Article Footer -->
          <footer class="d-flex justify-content-between g-font-size-16">
            <span class="g-color-black g-line-height-1"><%= item.price %>€</span>
            <ul class="list-inline g-color-gray-light-v2 g-font-size-14 g-line-height-1">
              <li class="list-inline-item align-middle g-brd-right g-pr-10 g-mr-6">
                <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="#" title="Add to Cart"
                   data-toggle="tooltip"
                   data-placement="top">
                  <i class="icon-finance-100 u-line-icon-pro"></i>
                </a>
              </li>
            </ul>
          </footer>
          <!-- End Article Footer -->
        </div>
      </article>
      <!-- End Article -->
    </div>
  <% end %>
  </div>


  <div class="text-center">
    <a class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" href="#">All New Arrivals</a>
  </div>
</section>
<!-- End New Arrivals -->